body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;    
}
.orangeColor{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.halfContainer{
    width: 50%;
    float: left;
    
}
.welcome{
    padding-left: 5%;
}
.halfContainer img{
    width: 75%;
    float: right;
    padding-right: 15%;
}
.hireButton{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
/* 4-5 finish */
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-text{
    width: 84%;
}
/* Module 4-6 */